<div>Name<%= f.text_field(:name)%></div>
<div>Biography<%= f.text_area(:biography)%></div>
<div>Academics <%= f.text_area(:academics_list)%></div>
<div>Awards <%= f.text_area(:awards_list)%></div>
<div>Upload Image<%= f.file_field(:cover)%></div>