<div class="modal-dialog">
    <div class="modal-content">
        <h2 class = "text-center">Filter Options</h2>
        <%= form_tag '/authors',method: :get,:class => "form-horizontal" do %>
            <div class="modal-body">
                <div class="field">
                    <%= label :search,:name, "Name" %><br />
                    <%= text_field(:search,:name,:class => "form-control") %>
                </div>
            </div>
            <div class="modal-footer">
                <%= submit_tag "Search",class: "btn btn-primary" %>
                <%= link_to "Cancel", "#", class: "btn btn-danger", data: {dismiss: "modal"} %>
            </div>
        <% end %>
    </div>
</div>