<% @page_title = "Author"%>
<div class="authors index">
<h1>Author</h1>
<%= link_to("Add a new Author",{:action => "new"},:class => "action new")%>
<%= link_to("Visit Books page",{:controller => "books", :action => "index"})%>
<div><%= pluralize(@authors.count,"author")%> found</div>
<table class="listing" summary = "Author Listing">
<tr class="header">
<th>Name</th>
<th>Books</th>
<th>Action</th></tr>
<%@authors.each do |author|%>
<tr class ="<%= cycle('odd','even')%>">
<td><%= author.name%></td>
<td><%= @books.search(author.id).count%></td>
<td>
<%= link_to("Show",{:action => "show", :id => author.id},:class => "action show")%>
<%= link_to("Edit",{:action => "edit", :id => author.id},:class => "action edit")%>
<%= link_to("Delete",{:action => "delete", :id =>author.id},:class => "action delete")%>
</td>
</tr>
<%end%>
</table>
</div>