<% @page_title = "Author"%>
<div class = "container">
    <div class = "justify-content-around">
        <%= link_to({:action => "new"},:class => "action new btn btn-primary m-top-links") do%>
        <span class="glyphicon glyphicon-plus"></span> New Author
        <%end%>

    </div>

    <div id="author-modal" class="modal fade"></div>

    <div class = "row">
        <div class="digg_pagination col-md-8 col-md-offset-4">
            <div class="page_info">
                <%= page_entries_info @authors %>
            </div>
            <%= will_paginate @authors, :container => false %>
        </div>
    </div>

    <div class="row text-white well well-sm table-header" summary = "Author Listing">
        <div class = "col-md-4 text-center">Name</div>
        <div class = "col-md-4 text-center">Books</div>
        <div class = "col-md-4 text-center">Action</div>
    </div>
    <div class = "well">
        <%@authors.each do |author|%>
            <div class ="row list-group <%= cycle('odd','even')%>">
                <div class = "col-md-4">
                    <%= link_to(author.name,{:action => "show", :id => author.id},:class => "btn list-group-item text-capitalize")%>
                </div>
                <div class = "col-md-4 text-center"><%= author.books.count%></div>
                <div class = "col-md-4 btn-group text-center">
                    <%= link_to("Edit",{:action => "edit", :id => author.id},:class => "btn btn-primary text-center")%>
                    <%= link_to("Delete",delete_author_path(author), :remote => true, :class => "btn btn-danger text-center")%>
                </div>
            </div>
        <%end%>
    <div>

    
<div>
