<% @page_title = "Author"%>
<div class = "container">

    <div id="author-modal" class="modal fade" data-backdrop="static" data-keyboard="false"></div>

    <div class = "row">
        <div class="digg_pagination col-md-4 col-md-offset-4">
            <div class="page_info">
                <%= page_entries_info @authors %>
            </div>
            <%= will_paginate @authors, :container => false %>
        </div>
        <div class = "col-md-4">
            <%= link_to(new_author_path,remote: true,:class => "action new btn btn-primary m-top-links") do%>
                <span class="glyphicon glyphicon-plus"></span> New Author
            <%end%>
        </div>
    </div>

    <div class = "fixed-right">
            <%= link_to(authors_search_path,remote: true,:class => "button button5") do%>
            <span class="glyphicon glyphicon-filter"></span>
            <%end%>
        </div>



    <table class = "table">
            <thead class = "thead-inverse pretty" summary = "Book Listing">
                <tr class ="<%= cycle('odd','even')%>">
                    <th><%= sortable "name"%></th>
                    <th>Books</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <%@authors.each do |author|%>
                    <tr>
                    <td><%= link_to(author.name,author_path(author),:class => "btn list-group-item text-capitalize")%></td>
                    <td>
                    <%if author.books.count > 0%>
                        <%= link_to(author.books.count,{controller: "books",action: "index",author_id: author.id},:class => "btn list-group-item wordwrap")%></td>
                    <%else%>
                        <%= author.books.count%>
                    <%end%>
                    <td>
                        <div class = "col-md-2 btn-group center-div">
                            <%= link_to("Edit",edit_author_path(author),remote: true,:class => "btn btn-primary")%>
                            <%= link_to("Delete",delete_author_path(author), :remote => true, :class => "btn btn-danger")%>
                        </div>
                    </td>
                    </tr>
                <%end%>
            </tbody>
    </table>    
<div>
