<div>Author id<%= text_field(:book, :author_id)%></div>
<div>Name of Book<%= text_field(:book, :name)%></div>
<div>Short Description<%= text_field(:book, :s_desc)%></div>
<div>Long Description<%= text_area(:book, :l_desc)%></div>
<div>Date of Production<%= date_select(:book, :date_of_prod)%></div>
<div>Price<%= text_field(:book, :price)%></div>
<div>Genre<%= text_area(:book, :genre_list)%></div>