<% @page_title = "Book"%>
<div class="container">    
    <div>
        <div class = "justify-content-around">
            <%= link_to({:action => "new"},:class => "action new btn btn-primary m-top-links") do%>
            <span class="glyphicon glyphicon-plus"></span> New Book
            <%end%>     
        </div>
        <div id="author-modal" class="modal fade"></div>
        <div class = "row">
            <div class="digg_pagination col-md-8 col-md-offset-4">
                <div class="page_info">
                    <%= page_entries_info @books %>
                </div>
                <%= will_paginate @books, :container => false %>
            </div>
        </div>
        <div class="row text-white well well-sm table-header" summary = "Author Listing">
            <div class = "col-md-2 text-center">Name</div>
            <div class = "col-md-2 text-center">Author</div>
            <div class = "col-md-2 text-center">Date of Production</div>
            <div class = "col-md-2 text-center">Genre</div>
            <div class = "col-md-2 text-center">Price</div>
            <div class = "col-md-2 text-center">Action</div>
        </div>
        <div class = "well">
            <%@books.each do |book|%>
                <div class ="row list-group <%= cycle('odd','even')%>">
                    <div class = "col-md-2 text-center">
                        <%= link_to(book.name,{:action => "show", :id => book.id},:class => "btn list-group-item wordwrap text-capitalize")%>
                    </div> 
                    <div class = "col-md-2 text-center text-capitalize">
                        <%= book.author.name%>
                    </div>
                    <div class = "col-md-2 text-center">
                        <%= book.date_of_prod%>
                    </div>
                    <div class = "col-md-2">
                        <ul>
                            <% book.genre.each do |data|%>
                                <li>
                                    <%= data%>
                                </li>
                            <%end%>
                        </ul>
                    </div>
                    <div class = "col-md-2 text-center">
                        <%= book.price%>
                    </div>
                    <div class = "col-md-2 btn-group center-div">                    
                    <%= link_to("Edit",{:action => "edit", :id => book.id},:class => "btn btn-primary")%>
                    <%= link_to("Delete",delete_book_path(book),remote: true,:class => "btn btn-danger")%>
                    </div>
                </div>
            <%end%>
        </div>
        </table>
    </div>
</div>
<%# paginate @books %>