<% @page_title = "Book"%>
<div class="books index">
<h1>Book</h1>
<%= link_to("Add a new Book",{:action => "new"},:class => "action new")%>
<%= link_to("Visit Authors page",{:controller => "authors", :action => "index"})%>
<div><%= pluralize(@books.count,"book")%> found</div>
<table class="listing" summary = "Book Listing">
<tr class="header">
<th>Name</th>
<th>Author</th>
<th>Date of Production</th>
<th>Genre</th>
<th>Price</th>
<th>Action</th></tr>
<%@books.each do |book|%>
<tr class ="<%= cycle('odd','even')%>">
<td><%= book.name%></td>
<td><%= Author.search(book.author_id)[0].name%></td>
<td><%= book.date_of_prod%></td>
<td><%= book.genre_list%></td>
<td><%= book.price%></td>
<td>
<%= link_to("Show",{:action => "show", :id => book.id},:class => "action show")%>
<%= link_to("Edit",{:action => "edit", :id => book.id},:class => "action edit")%>
<%= link_to("Delete",{:action => "delete", :id =>book.id},:class => "action delete")%>
</td>
</tr>
<%end%>
</table>
</div>