<% @page_title = "Book"%>
<div>
<%= link_to("<< Back to Book Index",{:action => "index"})%>
<h1>Book details</h1>
<table>
<tr>
<th>Name of Book</th>
<td><%= @book.name%></td>
</tr>
<tr>
<th>Author Name</th>
<td><%= @book.author.name%></td>
</tr>
<tr>
<tr>
<th>Short Description</th>
<td><%= @book.s_desc%></td>
</tr>
<tr>
<tr>
<th>Long Description</th>
<td><%= @book.l_desc%></td>
</tr>
<tr>
<tr>
<th>Date Of Production</th>
<td><%= @book.date_of_prod%></td>
</tr>
<tr>
<tr>
<th>Price</th>
<td><%= @book.price%></td>
</tr>
<tr>
<th>Genre</th>
<% if @book.genre.blank?%>
    <td>No genre provided</td>
<%else%>
    <td><%= @book.genre.join(", ")%></td>
<%end%>
</tr>
<tr>
<th>Created</th>
<td><%= @book.created_at%></td>
</tr>
<tr>
<th>Updated</th>
<td><%= @book.updated_at%></td>
</tr>
</table>
<%= render(partial: "reviews/show")%>
<%= link_to("Add a review for Book - #{@book.name}",{:controller => "reviews", :action => "new",:type => "Book", :id => @book.id})%>
</div>
