<div>
<h1>Reviews</h1>
<table>
<tr><th>Name</th>
<th>Title</th>
<th>Description</th>
<th>Created</th>
<th>Rate</th>
</tr>
<%@reviews.each do |review|%>
<tr>
<td><%= review.name%></td>
<td><%= review.title%></td>
<td><%= review.desc%></td>
<td><%= review.created_at%></td>
<td><%= review.star_rate%></td>
</tr>
<%end%>
</table>
</div>
