<% @page_title = "Review"%>
<div>
<% control = "" 
if @reviewable_type == "Author"
    control = "authors"
else
    control = "books"
end%>
<%= link_to("<< Back to index",{:controller => control, :action => "index"})%>
<%= form_tag(:action => "create",:control => control, :reviewable_type => @reviewable_type, :reviewable_id => @reviewable_id) do%>
<div>Review Type<%= label(:review, @reviewable_type)%></div>
<div>Name of Reviewer<%= text_field(:review, :name)%></div>
<div>Title <%= text_field(:review, :title)%></div>
<div>Description<%= text_area(:review, :desc)%></div>
<div>Rate(Out of 5) <%= text_field(:review, :star_rate)%></div>
<div><%= submit_tag("Submit Review")%></div>
<%end%>
</div>
