<!DOCTYPE html>
<html>
  <head>
    <title><%= @page_title || Admin%></title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
  <nav class="navbar navbar-fixed-top">
    <div id = "banner">      
      <ul class="nav navbar-nav" id = "menu">
          <li>
            <%= link_to("Home",authors_trend_path,:class => "nav-link")%>
          </li>
          <li>
              <%= link_to("Author",authors_path,:class => "nav-link")%>
          </li>
          <li>
              <%= link_to("Book",books_path,:class => "nav-link")%>
          </li>
      </ul>

      <div class ="col-md-offset-1 col-md-3">
        <%= form_for(:search,controller: controller.controller_name, action: "index", method: :get,:class => "form-inline my-2 my-md-0") do |f|%>
          <div class = "input-group">
              <%= f.text_field(:name,placeholder: "Search...",:class => "form-control")%>
              <span class = "input-group-btn">
                  <%= f.button(name: nil, data:{disable_with: "Searching...."}, :class => "btn btn-primary") do%>
                      <i class="glyphicon glyphicon-search"></i>
                  <%end%>
              </span>
          </div>
        <%end%>
      </div>

      <div class="text-white ml-auto">
        <% if user_signed_in? %>
          Logged in as <strong><%= current_user.email %></strong>
          <%= link_to 'Edit profile', edit_user_registration_path, :class => 'btn btn-default ' %> 
          <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'btn btn-danger '  %>
        <% else %>
          <%= link_to "Sign up", new_user_registration_path, :class => 'btn btn-primary'  %> 
          <%= link_to "Login", new_user_session_path, :class => 'btn btn-success'  %>
        <% end %>
      </div>
      
    </div>
  </nav>
  
  <!--
  <div id="loading-modal" class="modal fade" data-backdrop="static" data-keyboard="false"></div>
  -->
  <br><br><br><br>
 
  <div id = "allContents" style = "display:none;">
    <%= yield %>
    <% if notice %>
      <p id = "snackbar" style = "--bcolor: var(--color-black);"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p id = "snackbar" style = "--bcolor: var(--color-fade-red);"><%= alert %></p>
    <% end %>
  </div>
  <div class="modal-spinner" style = "display:none;" data-backdrop="static" data-keyboard="false"/>
  <script>
      /*
      $(document).on('readystatechange', function () {
      let state = document.readyState
      if (state == 'interactive') {
        $(".modal-spinner").spin({
          lines: 12, // The number of lines to draw
          length: 7, // The length of each line
          width: 9, // The line thickness
          radius: 30, // The radius of the inner circle
          color: '#FFF', // #rgb or #rrggbb
          speed: 1, // Rounds per second
          trail: 60, // Afterglow percentage
          shadow: false // Whether to render a shadow
        });
      } else if (state == 'complete') {
          setTimeout(function(){
            $(".modal-spinner").spin(false);
            $('#allContents').show(); 
          },800);
      }
    });
    */

    $(function() {
        let nav = document.getElementById('menu'),
            anchor = nav.getElementsByTagName('a'),
            list = nav.getElementsByTagName('li'),
            current = window.location.href.split('?')[0];
            //current = window.location.pathname.split('/')[0];
            for (var i = 0; i < anchor.length; i++) {
              if(anchor[i].href == current) {
                  list[i].className = "active";
              }
        }
    });

    /*
    $( '.navbar-nav a' ).on( 'click', function () {
      $( '.navbar-nav' ).find( 'li.active' ).removeClass( 'active' );
      $( this ).parent( 'li' ).addClass( 'active' );
    });
    */

    $(document).on('readystatechange', function () {
      let state = document.readyState
      if (state == 'interactive') {
        $(".modal-spinner").fadeIn('slow');
      } else if (state == 'complete') {
          setTimeout(function(){
            $(".modal-spinner").fadeOut('slow');
            $('#allContents').show(); 
          },800);
      }
    });

    if ($('#snackbar').length > 0) {
      // Get the snackbar DIV
    let x = document.getElementById("snackbar");

    // Add the "show" class to DIV
    x.className = "show";

    // After 3 seconds, remove the show class from DIV
    setTimeout(function(){ x.className = x.className.replace("show", ""); }, 3000);
    }
  </script>
  </body>
</html>
