<!DOCTYPE html>
<html>
  <head>
    <title><%= @page_title || Admin%></title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <ul class="nav navbar-nav">
          <li>
              <%= link_to("Author",{:controller => "authors", :action => "index"},:class => "p-2")%>
          </li>
          <li>
              <%= link_to("Book",{:controller => "books", :action => "index"},:class => "p-2")%>
          </li>
      </ul>
      <div class ="col-md-offset-1 col-md-3 p-2">
        <%= form_tag(controller: "books",action: "index", method: :get,:class => "form-horizontal") do%>
          <div class = "input-group">
              <%= text_field_tag(:search,params[:search],placeholder: "Search...",:class => "form-control")%>
              <span class = "input-group-btn">
                  <%= button_tag(name: nil, data:{disable_with: "Searching...."}, :class => "btn btn-primary") do%>
                      <i class="glyphicon glyphicon-search"></i>
                  <%end%>
              </span>
          </div>
        <%end%>
      </div>
    </div>
  </nav>
  <div>
    <%= yield %>
    <%if !flash[:notice].blank?%>
      <div class = "alert alert-info"><%= flash[:notice]%></div>
    <%end%>
    <%if !flash[:error].blank?%>
      <div class = "alert alert-info"><%= flash[:error]%></div>
    <%end%>
  </div>
  <%= javascript_tag do %>
    window.flashMessages = $.parseJSON('<%=j flash.to_hash.to_json.html_safe %>');
  <%end %>
  </body>
</html>
