<!DOCTYPE html>
<html>
  <head>
    <title><%= @page_title || Admin%></title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class = "container-fluid">
      <%= yield %>
      <%if !flash[:notice].blank?%>
        <div class = "alert alert-info"><%= flash[:notice]%></div>
      <%end%>
      <%if !flash[:error].blank?%>
        <div class = "alert alert-info"><%= flash[:error]%></div>
      <%end%>
    </div>
    <!-- <%= javascript_tag do %>
      window.flashMessages = $.parseJSON('<%=j flash.to_hash.to_json.html_safe %>');
    <% end %>
    -->
  </body>
</html>
